<div class="container">
    <div class="row">
        <h2>Liste des Postes</h2>
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="showAddForm()">Ajouter un Poste</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr style="text-align: center;">
                        <!-- <th>Id</th>-->
                        <th>Numéro du poste</th>
                        <th>Matricule d'utilisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let poste of postes" style="text-align: center;">
                        <!-- <td>{{ poste.id }}</td>-->
                        <td>{{ poste['numéro'] }}</td>
                        <td>{{ getUtilisateurNom(poste.utilisateurId) }}</td>
                        <td>
                            <button class="btn btn-primary" (click)="editPoste(poste)">Modifier</button>
                            <button class="btn btn-danger" (click)="deletePoste(poste)"
                                style="margin-left: 5px;">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="isAddMode" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Ajouter Poste
                </div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="addPoste(f.value)">
                        <div class="form-group">
                            <label for="numéro">Numéro du poste</label>
                            <input type="number" class="form-control" id="numéro" name="numéro" ngModel required>
                        </div>
                        <div class="form-group">
                            <label for="utilisateurId">Matricule d'utilisateur</label>
                            <select class="form-control" id="utilisateurId" name="utilisateurId" ngModel required>
                                <option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.id">
                                    {{utilisateur.matricule}}</option>
                            </select>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Enregistrer</button>
                            <button type="button" class="btn btn-secondary ml-2" style="margin-left: 5px;"
                                (click)="cancelEdit()">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isEditMode" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Modifier Poste
                </div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="updatePoste()">
                        <div class="form-group">
                            <label for="numéro">Numéro</label>
                            <input type="number" class="form-control" id="numéro" name="numéro"
                                [(ngModel)]="poste['numéro']" required>
                        </div>
                        <div class="form-group">
                            <label for="utilisateurId">Utilisateur ID</label>
                            <select class="form-control" id="utilisateurId" name="utilisateurId"
                                [(ngModel)]="poste.utilisateurId" required>
                                <option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.id">
                                    {{utilisateur.matricule}}</option>
                            </select>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Enregistrer</button>
                            <button type="button" class="btn btn-secondary ml-2" (click)="cancelEdit()"
                                style="margin-left: 5px;">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>