<body>
    <div class="main">
        <div class="title">Connexion</div>
        <form [formGroup]="loginForm">
            <div class="credentials">
                <div class="matricule"
                    [class.error]="loginForm.controls['Matricule'].dirty && loginForm.hasError('required', 'Matricule')">
                    <span class="fa fa-user"></span>
                    <input type="text" formControlName="Matricule" placeholder="Matricule" required>
                </div>
                <small *ngIf="loginForm.controls['Matricule'].dirty && loginForm.hasError('required', 'Matricule')"
                    class="text-danger">*Matricule obligatoire</small>

                <div class="password"
                    [class.error]="loginForm.controls['MotDePasse'].dirty && loginForm.hasError('required', 'MotDePasse')">
                    <span class="fa fa-lock"></span>
                    <input [type]="type" formControlName="MotDePasse" placeholder="Mot de passe" required>
                    <span (click)="hideShowPass()"></span>
                </div>
                <small *ngIf="loginForm.controls['MotDePasse'].dirty && loginForm.hasError('required', 'MotDePasse')"
                    class="text-danger">*Mot de passe obligatoire</small>
            </div>
            <button class="submit" (click)="onLogin()">Se connecter</button>
        </form>
        <div class="link">
            <a id="forgot" class="font-weight-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">Mot de passe
                oublié ?</a>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px; font-weight: 700">Mot
                            de
                            passe oublié ?</span> <br>
                        <small>Réinitialisez votre mot de passe :</small>
                    </p>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group pt-3">
                        <div class="input-field"><span class="fa fa-user p-2"></span><input
                                [(ngModel)]="resetPasswordEmail" type="text" placeholder="E-mail">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeBtn" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fermer</button>
                    <button type="button" (click)="confirmToSend()" class="btn"
                        style="background-color:#51BAEC; color: white;">Envoyer</button>
                </div>
            </div>
        </div>
    </div>